# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

APP_URL=http://localhost:3000

# Uploadthing API Keys
# If you're not deploying through Vercel, you also need to add a UPLOADTHING_URL
# environment variable that points to your app, e.g. https://myapp.com.

SUPABASE_JWT_SECRET=
NEXT_PUBLIC_SUPABASE_URL=https://ixjhdrhnqtbkgtjtprue.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4amhkcmhucXRia2d0anRwcnVlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzEzMTE5NzgsImV4cCI6MjA0Njg4Nzk3OH0.gsrW2tnKLq_BwgkIWdBwxL8E9zkMtfXZZeGUfEvUDIk
SUPABASE_SERVICE_ROLE_KEY=
# SMTP / Email settings
NEXT_PUBLIC_SMTP_SERVICE=gmail
NEXT_PUBLIC_SMTP_HOST=
NEXT_PUBLIC_SMTP_PORT=
NEXT_PUBLIC_SMTP_USER=
NEXT_PUBLIC_SMTP_PASSWORD=
NEXT_PUBLIC_SMTP_FROM=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_VERCEL_URL=
#PlugNMeet
NEXT_PUBLIC_PLUGNMEET_API_KEY=
NEXT_PUBLIC_PLUGNMEET_API_SECRET=
NEXT_PUBLIC_LK_TOKEN_ENDPOINT=/api/meeting/token
NEXT_PUBLIC_PLUG_N_MEET_SERVER_URL=meet.anphat.ai.vn
NEXT_PUBLIC_PACS_URL= 